<!-- <p>
  {{title}}
</p>

<div [ngClass]="estaCargando ? 'sucess' : 'error' ">
  {{ estaCargando ? 'LOADING...' : 'ERROR, NOT LOADING * no font-size' }}
</div>

<div [ngClass]="{
  sucess: estaCargando,
  error: !estaCargando
}" [style.font-size]="estaCargando ? '50px' : '30px'">

  {{ estaCargando ? 'LOADING...*30 a 50 px' : 'ERROR, NOT LOADING *30 a 50 px' }}
</div>


<div [ngClass]="{
  sucess: estaCargando,
  error: !estaCargando
}" [ngStyle]="{ 'font-size': estaCargando ? '10px': '8px'}">
  {{ estaCargando ? 'LOADING... *10 a 8 px' : 'ERROR, NOT LOADING *10 a 8 px' }}
</div>


<div [ngClass]="{
  sucess: estaCargando,
  error: !estaCargando
}" [ngStyle]="{'font-size': getFontSize(2)}">
  {{ estaCargando ? 'LOADING... *10 a 8 px' : 'ERROR, NOT LOADING *con funcion' }}
</div> -->

<!--
<p appBloqueRedondeado>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus perspiciatis recusandae ipsum adipisci reiciendis fugit, eligendi facilis atque et expedita aliquam accusantium temporibus natus id magni animi soluta earum.
</p>

<div>
  <h1>BLOQUE</h1>
  <button>
    INGRESAR
  </button>
</div>
-->
<!--
<UL>
  <LI>
    UNO
  </LI>
  <LI>
    DOS  
  </LI>
  <LI>
    TRES
  </LI>
</UL>

<P>DIRCTIVA ESTRUCTURAL</P>
<UL>
  <LI *ngFor = "let persona of personas">{{persona}}</LI>
</UL>

<P>DIRCTIVA ESTRUCTURAL ngFor lista desde html</P>
<UL>
  <LI *ngFor = "let fruta of ['pera','banana','manzana']">{{fruta}}</LI>
</UL>

<div>
  <p *ngIf="estaCargando">Cargando, espera un rato...</p>
</div>
-->

<!--
<div>
  <p *ngIf="estaCargando; else noEstaCargandoTemplate">Cargando, espera un rato...</p>
</div>

<ng-template #noEstaCargandoTemplate>
  <ul>
    <li *ngFor="let persona of personas">{{persona}}</li>
  </ul>
</ng-template>
-->

<div [ngSwitch]="mensajeNumero">
  <span *ngSwitchCase="1">Valor 1</span>
  <span *ngSwitchCase="2">Valor 2</span>
  <span *ngSwitchCase="3">Valor 3</span>
  <span *ngSwitchDefault>"sin coincidencia"</span>